.fadeOut {
  animation: fadeOut 500ms forwards linear;
}

@keyframes fadeOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
